@import "./header.css";
@import "./footer.css";
@import "./notes/notes.css";
@import "./emails/emails.css";
@import "./books/books.css";
@import "./user-msg.css";
@font-face {
    font-family: fa-regular;
    src: url(../fonts/fa-regular-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #a8a69b;
}

button:hover {
    color: white ;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.main-content {
    background-color: khaki;
    flex: 1;
}