@import "./header.css";
@import "./footer.css";
@import "./notes/notes.css";
@import "./emails/emails.css";
@import "./books/books.css";
@import "./user-msg.css";
@import "./home.css";
@import "./about.css";
@font-face {
    font-family: fa-regular;
    src: url(../fonts/fa-regular-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.main-content {
    position: relative;
    border-inline-end: 1px solid #546bf3;
    border-inline-start: 1px solid #546bf3;
    flex: 1;
}

@media (min-width: 820px) {
    .main-content {
        width: 820px;
        margin: 0 auto;
    }
    nav>* {
        padding: 2rem;
        border-inline-start: 1px solid black;
        background-image: url(/img/yuumi2.png);
        background-position: center 5rem;
        background-size: 3rem;
        background-repeat: no-repeat;
    }
    .yuumi-head {
        padding: 2.7rem 4rem;
        background-image: url(/img/yuumi-head3.png);
        background-size: 6.2rem;
        background-repeat: no-repeat;
        background-position: center -.8rem;
    }
    .notes-list ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .notes-actions {
        flex-direction: row;
    }
    .email-folders {
        flex-direction: column;
    }
    .email-folders>* {
        border-radius: unset;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }
    .email-container {
        flex-direction: row;
    }
}

@media (min-width: 980px) {
    .main-content {
        width: 980px;
    }
}