.note-preview {
    min-height: 15rem;
    background-color: cornsilk;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.2rem;
    font-family: cursive;
}

.note-preview:hover>.note-btns {
    opacity: 1;
}

.note-btns {
    display: flex;
    gap: 0.2rem;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 0.4s;
}

.note-btns>*:hover {
    cursor: pointer;
}

.note-preview iframe {
    object-fit: contain;
    width: 95%;
    justify-self: center;
    margin: 0.3rem;
}

.note-preview img {
    object-fit: contain;
    width: 90%;
    justify-self: center;
    margin: 0.3rem;
}

.note-preview input[type=text] {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-family: cursive;
    padding: 0;
    margin: 0;
    width: 100%;
    font-weight: 800;
}

.note-preview textarea {
    background-color: transparent;
    font-size: 1em;
    font-family: cursive;
    padding: 0;
    border: none;
}

.add::before {
    font-family: fa-regular, sans-serif;
    content: '\f067'
}

.save::before {
    font-family: fa-regular, sans-serif;
    content: '\f0c7'
}

.pin::before {
    font-family: fa-regular, sans-serif;
    content: '\f276'
}

.color {
    position: relative;
}

.color input[type=color] {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -2px;
    top: -5px;
    width: 2rem;
    opacity: 0;
}
.color input[type=color]:hover {
    cursor: pointer;
}

.color::before {
    font-family: fa-regular, sans-serif;
    content: '\f53f'
}

.remove::before{
    font-family: fa-regular, sans-serif;
    content:'\f00d';
}

.edit::before{
    font-family: fa-regular, sans-serif;
    content:'\f044';
}