.done-todo {
    text-decoration: line-through;
}

.todo {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
}

.todo-btns {
    min-width: 3.3rem;
    opacity: 0;
    transition: opacity 0.2s
}

.todo:hover>.todo-btns {
    opacity: 1;
}

.add-todo{
    font-size: 1.5em;
}